.art-favorites {
  max-height: 800px;
  h3 {
    font-family: $heading-font;
    font-size: 3em;
  }
  /* Slideshow container */
  .slideshow-container {
    width: 90%;
    margin: 30px auto;
    position: relative;
    padding-bottom: 0;
    .mySlides {
      display: none;
      background-color: rgb( 50, 50, 50)
    }
    .active {
      display: flex;
      height: 450px;
      justify-content: center;
      align-items: center;
      padding: 20px 0;
      img {
        width: auto;
        height: 100%;
      }
    }
    button {
      //animation: calc(#{$main-duration}*2) infinite alternate glow;
      background: unset;
      border: none;
      font-size: 3em;
      color: #FFF;
      opacity: 0.5;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      outline: none;
      height: 100%;
      width: 80px;
      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
        opacity: 1;
      }
    }
    .next {
      left: unset;
      right: 0;
    }
  }
}

.art-gallery {
  padding-bottom: 20px;
  img {
    padding: 10px 0;
  }
}

.ekko-lightbox-nav-overlay a {
  background-color: rgba(100, 100, 100, 0.35);
  justify-content: center;
  width: min-content;
  height: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  &:nth-child(2) {
    left: unset;
    right: 0;
  }
}
