nav {
  background-color: $tertiary-color;
  color: $secondary-color;
  margin: 30px auto 15px;
  max-width: 790px;
  position: relative;
  left: 124px;
  font-family: $nav-font;
  border-radius: 5px;

  ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
  }

  a {
    $link-transition: letter-spacing 0.5s;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7.5px 0;
    color: inherit;
    font-size: 2em;
    letter-spacing: 10px;
    transition: $link-transition;
    &:hover {
      color: inherit;
      text-decoration: none;
      letter-spacing: 2px;
      transition: $link-transition;
    }
  }
}
