//Colors of the Website
$primary-color: #22273a;
$secondary-color: #f2f2f2;
$tertiary-color: #e1799c;
$accent-color: #622277;

//Fonts of the Website
/*
font-family: 'Happy Monkey', cursive;
font-family: 'ZCOOL KuaiLe', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Special Elite', cursive;

font-family: 'Source Sans Pro', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Cabin', sans-serif;

font-family: 'Slabo 27px', serif;
font-family: 'Arvo', serif;
font-family: 'Kreon', serif;
font-family: 'Podkova', serif;

font-family: 'Libre Baskerville', serif;
*/
$banner-font: 'Happy Monkey', cursive;
$nav-font: 'Source Sans Pro', sans-serif;
$heading-font: 'Slabo 27px', serif;
$text-font: 'Libre Baskerville', serif;
